@page {
    size: A4;
  }
@media print {
    html, body {
      width: 210mm;
      height: 280mm;
    }
}
@font-face {
    font-family: 'MicrEncoding-ZEDJ';
    src: url('MicrEncoding-ZEDJ.ttf') format('truetype');
  }  
body {
    font-family: Arial, sans-serif;
    color: black;
    font-size: smaller;
    line-height: normal;
}
.check-number {
    font-family: 'MicrEncoding-ZEDJ', Arial, sans-serif;
    font-size: 30px;
}
.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.last-section {
    margin-top: 30%;
}
.last-section-top {
  margin-top: 60px;
}
.value {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%; 
  text-wrap: nowrap;
  overflow: hidden;
}
