:root {
    --orang-color: rgba(243, 115, 50, 1);
}
.title {
    color: #FFFFFF !important;
}
 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
 }
 h6 {
    color: var(--orang-color) !important;
    padding: 20px;
 }
 h3 {
    color: #43434A !important;
    width: 20%;
    font-weight: bold;
 }
 .main {
   display: grid;
   grid-template-columns: repeat(3, 1fr);  
   justify-items: center;
   gap: 100px;
}

.main .main-items-services img{
   border-radius: 10px;
}

.main .main-items-services h1 {
   color: var(--orang-color);
   font-size: 60px;
   font-weight: bold;
   position: absolute;
   top: 74%;
   left: 8%;
}

.main .main-items-services .text-content {
   display: flex;
   justify-content: space-between;
   background-color: #727277;
   color: #FFFFFF;
   padding: 20px;
   position: absolute;
   top: 115%;
   width: 20.3%; 
}

.main .main-items-services .text-content i {
   font-size: 30px;
}