/**------------------------------------------------ ABOUT US START ---------------------------------------------------------*/

.title-image img{
    width: 100%;
}
.title-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-image .items {
    position: absolute;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-image .items ul {
    display: flex;
    gap: 10px;
    padding: 10px;
    color: white;
}
.title-image .items ul li a, .items h3{
    text-decoration: none;
    color: white;
    padding: 0 12px;
}
.title-image .items ul li a:hover {
    color: var(--orang-color);
}

.title-image .items ul li::after {
    content: '';
    position: absolute;
    height: 30px; 
    width: 2px;
    background-color: white;
}

.title-image .items ul li:last-child::after {
    display: none;
}

/**------------------------------------------------- WHO WE ARE ----------------------------------------------------------*/
.who-we-are{
    display: flex;
    padding: 50px;
}
.who-we-are-img{
    width: 50%;
    height: 100%;
    justify-content: center;
}
/**------------------------------------------------ ABOUT US End ---------------------------------------------------------*/
