/**------------------------------------------------ ABOUT US START ---------------------------------------------------------*/

.title-image img{
    width: 100%;
}
.title-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-image .items {
    position: absolute;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-image .items ul {
    display: flex;
    gap: 10px;
    padding: 10px;
    color: white;
}
.title-image .items ul li a, .items h3{
    text-decoration: none;
    color: white;
    padding: 0 12px;
}
.title-image .items ul li a:hover {
    color: var(--orang-color);
}

.title-image .items ul li::after {
    content: '';
    position: absolute;
    height: 30px; 
    width: 2px;
    background-color: white;
}

.title-image .items ul li:last-child::after {
    display: none;
}

/**------------------------------------------------- WHO WE ARE ----------------------------------------------------------*/
.who-we-are{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}
.who-we-are-img{
    display: flex;
    justify-content: center;
    padding-right: 1%;
}
.who-we-are-img img{
    display: block;
    object-fit: contain;
    height: 90%;
    width: 90%;
}
.who-we-are-text{
    padding-left: 1%;
}
.who-we-are-text h6{
    color: var(--orang-color);
}


/**------------------------------------------------ Why Choose Us ---------------------------------------------------------*/
.why-choose-us{
    padding: 50px;
    background-color: #F2F2F2;
}
.why-choose-us ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 40px 0;
}
.why-choose-us li {
    flex: 1 0 30%;
    margin: 0 20px 20px 0;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow:0.3px 0.2px 2.6px var(--orang-color);
    background-color: #FFFFFF;
}

.why-choose-us h6, .why-choose-us-card h4, .our-clients h6, .our-vision-mission h6, .who-we-are-text h6{
    color: var(--orang-color);
    font-weight: bold;
}

/**------------------------------------------------ OUR CLIENTS ---------------------------------------------------------*/
.our-clients{
    background-color: #FFFFFF;
    padding: 100px;
    text-align: center;
}
.our-clients h6{
    color: var(--orang-color);
    margin-bottom: 1.5%;
}
.our-clients ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
}

/**------------------------------------------- Our Vision and Mission -----------------------------------------------------*/
.our-vision-mission{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    color: #FFFFFF;
    background-color: #15141C;
}
.our-vision-mission h6{
    color: var(--orang-color);
    width: 100%;
}

/**------------------------------------------- media qurry -----------------------------------------------------*/


/* main title img  */

@media (max-width: 992px) {
    .title-image .items {
        font-size: 18px;
    }
    .title-image .items ul {
        gap: 8px;
        padding: 0px;
    }
    .title-image .items ul li::after {
        height: 20px;
    }
}

@media (max-width: 576px) {
    .title-image img {
        width: 100%;
        height: 15vh;
    }
}


/*  */

@media (max-width: 576px) {
    .who-we-are{
     padding: 15px;
    }
    p {
        text-align: left;
    }
}

/*  */

@media (max-width: 576px) {
    .our-clients ul {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .our-clients ul li {
        padding: 20px;
    }
}

/*  */

@media (max-width: 576px)  {
    .why-choose-us {
        padding: 50px;
    }

    .our-vision-mission {
        padding: 20px;
    }

    .why-choose-us li {
        padding: 15px;
    }
}


/*  */
@media (min-width: 768px) {
    .who-we-are-img, .our-mission {
        flex: 0 0 auto;
        width: 100%;
        padding: 1% 2% 1% 0;
    }
    .who-we-are-text,.our-vision{
    flex: 0 0 auto;
        width: 100%;
        padding: 1% 0 1% 2%;
    }
}
@media (min-width: 992px) {
    .who-we-are-img, .our-mission {
        flex: 0 0 auto;
        width: 50%;
        padding: 1% 2% 1% 0;
    }
    .who-we-are-text,.our-vision{
        flex: 0 0 auto;
        width: 50%;
        padding: 1% 0 1% 2%;
    }
}
