
* {
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, sans-serif;
  color: black;
  font-size: smaller;
  line-height: normal;
}
.container{
  padding: 20px;
}

.check-section {
  margin-top: 2.2rem !important;
  width: 210mm;
  height: 92mm;
}

#sidebar {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: rgb(158, 231, 207); 
}

.check-number {
  font-family: 'MicrEncoding-ZEDJ', Arial, sans-serif;
  font-size: 30px;
}
.value{
  margin-bottom: 10px;
}

/* printing  */

@page {
  size: A4;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }

  .check-section {
    width: 210mm;
    height: 92mm;
    box-shadow: none;
  }
  
  #sidebar {
    display: none;
  }
  .value {
    overflow: hidden;
  } 
}

@font-face {
  font-family: 'MicrEncoding-ZEDJ';
  src: url('../font/MicrEncoding-ZEDJ.ttf') format('truetype');
}  